.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 3px solid rgb(253, 205, 147);
  background-color: bisque;
  border-radius: 20px;
  margin: 1%;
  padding: 5%;
  width: 30vw;
  height: 55vh;
  text-align: center;
  font-size: 2rem;
}

.carouselBtns {
  align-self: center;
  cursor: pointer;
}

.carouselBtn {
  background-color: rgb(172, 153, 130); 
  border-radius: 25px;
  padding: 6px 13px;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.cardBtn {
  background-color: rgb(172, 153, 130);
  margin-top: 15%;
  padding: 1% 4%;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.cardBtn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.word {
  font-size: 4rem;
  font-weight: bolder;
  justify-self: center;
}

.transcription {
  font-size: 2rem;
  justify-self: center;
}

.translation {
  margin-top: 15%;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  justify-self: center;
}

.counter {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 3%;
}

@media screen and (max-width: 600px) {
  .card {
    width: 60vw;
    height: 75vh;
  }
}