.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.img {
  width: 250px;
  height: 250px;
}

.paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 1.8rem;
}

.paragraphSecond {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.mainLink {
  color: rgb(117, 56, 82);
}
