body {
  background-color: rgb(211, 188, 160);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableWrapper {
  max-width: 100%;
  overflow: hidden;
}

.table {
  width: 90%;
  border: 1px solid black;
  margin: 90px auto 20px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  table-layout: fixed;
}

.table th,
.table td {
  border: 1px solid black;
}

.table th {
  background-color: rgb(172, 153, 130);
}

.table td {
  background-color: bisque;
}

.edit,
.remove {
  width: 15px;
  height: 15px;
  margin-left: 10%;
  cursor: pointer;
}

.edit:hover,
.remove:hover {
  transform: scale(1.1);
}

.actions {
  display: flex;
  justify-content: center;
}
